* {
 
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }


.title-icono{
  font-size: 3rem;
  font-weight: 800;
}
.title-shop{
  color: rgb(195, 115, 211);
}
.nav-link {
  font-size: 2rem;
  color: black;

}
.nav-link:hover{
  color:rgb(194, 194, 194)
}
.icono-carrito{
  font-size: 3rem;
  padding-bottom: 10px;
}
#card{
  width: 25rem;
}
.btn-card-container{
  margin: 0 auto;
  width: 250px;
}
.btn{
  margin: 2px 25px;
  color: #4f92f6;
  font-size: 2rem;
  border: none;
  padding: 5px 20px;
}
.btn-carrito{
  margin: 5px 0px;
  padding: 10px 28px;
  color: #4f92f6;
  border-color:  #4f92f6;
  border-radius: 10px;
  font-size: 25px;
}